<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
  <%= image_tag "icono.png", alt: "icono", title:"icono" %>

    <h1>
      <%= link_to "Odot", root_path %>
    </h1>



    <ul>
      <li>
        <%= link_to "Todo Lists", todo_lists_path %>  
      </li>
    </ul>

      <section class="social">
        <%= image_tag "facebook.png", alt: "facebook", title:"icono" %>
        <%= image_tag "google.png", alt: "google", title:"icono" %>
        <%= image_tag "instagram.png", alt: "instagram", title:"icono" %>
        <%= image_tag "linkedin.png", alt: "linkedin", title:"icono" %>
        <%= image_tag "twitter.png", alt: "twitter", title:"icono" %>
        <%= image_tag "youtube.png", alt: "youtube", title:"icono" %>
      </section>

    <br class="clear" />
  </div>

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

<%= yield %>

</body>

<footer>
  
</footer>


</html>
 